<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AdoptEV</title>
    {% load static %}
    <script src="{% static 'js/enquiryAjax.js' %}"></script>
    <script src="{% static 'js/enterpriseForm.js' %}"></script>
    <script src="{% static 'js/openings.js' %}"></script>
    <script src="{% static 'js/partnerUsForm.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
        </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
        </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous">
        </script>

    <link rel="stylesheet" type="text/css" href="{% static 'css/enterprise.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/partnerUs.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style2.css' %}">
    <link rel="icon" href="{% static 'images/Logo-02.png' %}" type="image/gif" sizes="16x16">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">


    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.86, maximum-scale=3.0, minimum-scale=0.86">
    <title>AdoptEV</title>
    <meta name="description" content="Adoptev Description">
    <meta name="keywords"
        content="adoptev, Charging Point, Charging Station, DC Fast Charging, electric, Electric erickshaw, Electric logistics, Electric mobility, Eloader, ev, ev future, Hire vehicle, Intra city logistics, Last mile logistics, Logistics, Mobility, range, Rapid Charging, vehicle, adopt ev, Transport, Auto, Rickshaw,  goods, Passenger, Local, Distributor, Supply Chain,3PL, Cab,Electric Vehicle,Reservation , Online">
    <meta http-equiv="Cache-Control" content="max-age=200" />
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">



</head>

<body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- --------------------------header------------------------------------- -->
    <div style="  margin-top: 1px;
    width: 100%;
    height: 65px;
    position: fixed;
    background: #fff;
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: center; z-index: 9999;">
        <div class="desktop-navbar-logo">
            <span style="border-bottom: none;"><a href="/"><img id="navbar-logo" src="{% static 'images/Logo-02.png' %}"
                        alt="Logo"></a></span>

        </div>
        <div class="desktop-navbar-links">
            <span id="navbar-home" style="font-family: Barlow;
                        font-style: normal;
                        font-weight: 900;
                        font-size: 24px;
                        line-height: 29px;
                        /* identical to box height */
                        
                        display: flex;
                        align-items: center;
                        text-align: center;
                        letter-spacing: 0.04em;
                        
                        color: rgba(0, 0, 0, 0.52);
                        "><a>+91-8882454501</a></span>
            <span><a href="#"><button type="button"
                        style="width:111px; height:44px; background-color:#FFBB00; border-radius: 10px;">Login</button></a></span>
        </div>
    </div>

    <section class="main-section navbar-color-change-div">
        <div class="main-page-main-section-container"
            style="background-image : url( {% static 'images/BG4.png' %}) ; background-size : cover; background-repeat : no-repeat;">
        </div>
    </section>


    <section class="main-section navbar-color-change-div">
        <!-- <div class="main-page-main-section-container" style="background-image:url({% static 'images/Group261.png' %}) ;background-size: cover; "> -->
        <img src="{% static 'images/Group262.png' %}" alt="" style="width:1519px;height:1105px;">


        </div>
    </section>
    <br>
    <br><br>
    <br>
    <br>
    <br><br>
    <br>
    <br>
    <br>

    <!-- --------------------------------------Footer----------------------------------------------- -->

    <footer>
        <div class="footer-container" style="background-color:#292929;">
            <div class="footer-content-container">
                <div class="footer-content-image-container">
                    <img src=" {% static 'images/Logo-02.png' %}" alt="">
                </div>
                <div class="footer-content-paragraph-container">
                    <p>We as an organization contribute towards society, protecting environment, adhering to safety and
                        health of the people.</p>
                </div>
                <br>
                <h4 style="
                font-style: normal;
                font-weight: bold;
                font-size: 28px;
                line-height: 34px;">FOLLOW <span style="color: #71d33a;">US</span></h4>
                <div class="footer-social-icons-container">
                    <div class="footer-social-icons-element">
                        <i class="fa fa-facebook-f"></i>
                    </div>
                    <div class="footer-social-icons-element">
                        <i class="fa fa-instagram"></i>
                    </div>
                    <div class="footer-social-icons-element">
                        <i class="fa fa-linkedin"></i>
                    </div>
                    <div class="footer-social-icons-element">
                        <i class="fa fa-youtube"></i>
                    </div>
                </div>

            </div>
            <div class="footer-links-container">
                <h4><span style="color: #71d33a;border: 0px 5px solid ;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 28px;
                    line-height: 34px;">COMPANY<span style="color: #71d33a;border: 0px 5px solid"></span> </span></h4>
                <div class="footer-links-inner-container" "><br><br>
                
                    <h6 style=" color: white;"><a href="#" style="color: white;">About Us</a></h6>
                    <h6 style="color: white;"><a href="partnerUs.html" style="color: white;">Partner Us</a></h6>
                    <h6 style="color: white;"><a href="enterprise.html" style="color: white;">For Enterprise</a></h6>
                    <h6 style="color: white;"><a href="/#main-page-contact-us-section" style="color: white;">Contact
                            Us</a></h6>
                </div>
            </div>
            <div class="footer-links-container">
                <h4 style="color: #71d33a;border: 0px 5px solid ;
                font-style: normal;
                font-weight: bold;
                font-size: 28px;
                line-height: 34px;"><span>SUPPORT </span></h4><br><br>
                <div class="footer-links-inner-container" ">
                <h6><a href=" /#OurServices" style="color: white;">Help Center</a></h6>
                    <h6 style="color: white;"><a href="#" style="color: white;">Privacy Policy</a></h6>
                    <h6 style="color: white;"><a href="partnerUs.html" style="color: white;">Terms of Services</a></h6>
                    <h6 style="color: white;"><a href="enterprise.html" style="color: white;">FAQs</a></h6>

                </div>
            </div>
            <div class="footer-links-container">
                <h4><span><span style="color: #71d33a;border: 0px 5px solid ;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 28px;
                    line-height: 34px;"> BOOK A AUTO</span> </span></h4>
                <br><br>
                <div class="footer-links-inner-container" ">
                <h6><a href=" /#OurServices" style="color: white;">Try Auto</a></h6>
                    <h6 style="color: white;"><a href="#" style="color: white;">For Enterprise</a></h6>

                </div>
            </div>
           
        </div>
        <div class="footer-copyright-container">
            <h6>Copyright © 2020 AdoptEV, Inc.</h6>
        </div>
    </footer>

    <!-- ----------------------------------------------------------------------------------------- -->

    <script src="./js/script.js"></script>
    <script src="https://use.fontawesome.com/e2eea6562c.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="./js/enquiryAjax.js"></script>
    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
        var Tawk_API = Tawk_API || {},
            Tawk_LoadStart = new Date();
        (function () {
            var s1 = document.createElement("script"),
                s0 = document.getElementsByTagName("script")[0];
            s1.async = true;
            s1.src = 'https://embed.tawk.to/5ef4b6654a7c6258179b542d/default';
            s1.charset = 'UTF-8';
            s1.setAttribute('crossorigin', '*');
            s0.parentNode.insertBefore(s1, s0);
        })();
    </script>
</body>